.main {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: calc(100dvh - 55px - 10em);
  gap: 1em;
  margin: 0;
  margin-top: 4em;

  font-family: var(--font-trispace);
}

.contentContainer {
  display: flex;
  flex-direction: row;
  max-width: 1520px;
  width: 100%;
  padding: 5em 1em 0 1em;
  gap: 2em;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.currPath {
  width: fit-content;
  height: 100%;
  font-size: 10em;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  white-space: nowrap;
  color: #d5f5e942;
  font-family: var(--font-trispace);
  font-weight: 600;

  margin: 0;
  line-height: 1;
  text-align: end;
}

.aboutCont {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  position: relative;
  width: calc(100% - 500px);
}

.about {
  mix-blend-mode: difference;
  text-align: justify;
}

.about strong {
  color: #fdad5b;
}

.aiggBody {
  position: absolute;
  right: -300px;
  top: -5em;
  z-index: -2;
}

.landMass {
  display: flex;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .contentContainer {
    padding: 2em;
  }
  .currPath {
    font-size: 5em;
  }

  .aboutCont {
    width: 100% !important;
  }

  .aiggBody {
    display: none;
  }

  /* .aiggBody {
    top: 100% !important;
    height: 20em;
    right: 0;
    max-width: 50%;
  }

  .aiggBody img {
    height: 100%;
    width: auto;
    object-fit: cover;
  } */

  .landMass {
    justify-content: center;
  }
  .landMass img {
    filter: drop-shadow(10px 10px 10px #4d77ff7c);
  }
}

@media screen and (max-width: 584px) {
  .landMass img {
    width: 15em;
    height: auto;
  }
  .contentContainer {
    font-size: 80%;
  }
  .currPath {
    display: none;
  }
}
