.main {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1em;
  margin: 0;
  font-family: var(--font-trispace);
  height: calc(100dvh - 10em);
}

.contentContainer {
  display: flex;
  flex-direction: row;
  max-width: 1520px;
  width: 100%;
  padding: 1em;
  gap: 2em;
  margin: 4em auto 0;
  align-items: center;
  position: relative;
}

.currPath {
  width: fit-content;
  font-size: 10em;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  white-space: nowrap;
  text-transform: capitalize;
  color: #4d76ff1a;
  font-family: var(--font-anta);

  margin: 0;
  line-height: 1;
  text-align: end;
}

.anon {
  filter: blur(20px);
}

.poor {
  filter: blur(10px);
}

.inputBox {
  display: flex;
  width: 100%;
  border: 2px solid var(--input-border-color);
  padding: 0 1em;
}

.inputBox input {
  all: unset;
  width: 100%;
  color: gray;
}

.inputBox input::placeholder {
  color: #757cb0;
}
.sendButton {
  padding: 0.5em;
  align-items: center;
  justify-content: center;
  background: #4d76ff;
  border-radius: 0.25em;
}

@media screen and (max-width: 1000px) {
  .contentContainer {
    padding: 2em;
  }
  .currPath {
    display: none;
    font-size: 5em;
  }
}

@media screen and (max-width: 425px) {
  .currPath {
    display: none;
  }

  .contentContainer {
    padding: 1em 0.5em;
  }
}

/* terminal and logo with text */

.terminalCont {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  /* justify-content: center; */
  padding: 1em;
  overflow-y: auto;
  border-radius: 0.5em;
  justify-content: center;
}

.terminalLogo {
  position: absolute;
  right: 0em;
  bottom: 3em;
}

.terminalText {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 50%;
  max-width: 50%;
  font-size: 1.5em;
}

.terminal {
  display: flex;
  position: absolute;
  bottom: 1em;
  width: 90%;
  background: #27396c52;
  backdrop-filter: blur(1em);
  align-items: center;
  padding: 0.5em 1em;
  height: fit-content;
}

/* chatbox */
.chatBox {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  overflow-y: auto;
  margin-bottom: 10px;
  height: 90%;
  padding: 0 1em;
  gap: 10px;
}

.chat {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.chatInput {
  display: flex;
  width: fit-content;
  padding: 0 1em;
  background-color: red;
  align-self: flex-end;
  background-color: #4d76ff;
  padding: 1em 2em;
  border-radius: 0.5em;
  animation: slideUp 0.5s ease-out;
}

.chatResponse {
  display: flex;
  width: fit-content;
  padding: 0 1em;
  align-self: flex-start;
  background-color: #5b635d;
  padding: 1em 2em;
  border-radius: 0.5em;
  color: rgb(255, 255, 255);
  animation: slideUp 0.5s ease-out;
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.chatBox::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

.chatBox::-webkit-scrollbar-track {
  border-radius: 1em;
  background-color: #2f32c2;
}

.chatBox::-webkit-scrollbar-track:active {
  background-color: #0e4f7a;
}

.chatBox::-webkit-scrollbar-thumb {
  border-radius: 0.5em;
  background-color: #a2a7bdb2;
  border: 2.5px solid #010316;
}

@media screen and (max-width: 545px) {
  .chatResponse,
  .chatInput {
    align-self: flex-start;
  }
}
